# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv-pyapi2025
venv/
env/
ENV/
.venv/
.env/

# IDE specific files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.cache/

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint
pylint-report.txt
pylint-json.txt

# Other files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# macOS
.DS_Store